In [1]:
#Assignment
#Perform the following operations using split-apply-combine.

#Remove all items in categories where the mean price in that category is less than $3.00.
#Find the maximum values in each category for all features. (What does Pandas take to be the maximum value of the 'item' column?)
#If the maximum price in a category is more than $3.00, reduce all prices in that category by 10%. Return a Series of the new price column.

import pandas as pd
import numpy as np

grocery = pd.DataFrame({'category':['produce', 'produce', 'meat',
                                    'meat', 'meat', 'cheese', 'cheese'],
                        'item':['celery', 'apple', 'ham', 'turkey',  'lamb',
                                'cheddar', 'brie'],
                        'price':[.99, .49, 1.89, 4.34, 9.50, 6.25, 8.0]})

group_grocery=grocery.groupby('category')
one_mean = group_grocery.filter(lambda x: x.mean()>=3.00)
two_mean= group_grocery.aggregate(np.max)
temp=group_grocery.filter(lambda x: x.mean()>=0)
#three_mean=group_grocery.apply(lambda x: (x - 0.1*x) if np.max > 3.00 else x)
#one_mean= pd.merge(grocery,)
#print(one_mean)
#three_mean
#two_mean

             item  price
category
cheese    cheddar   8.00
meat       turkey   9.50
produce    celery   0.99

In [2]:
#Select all information from produce for pear and jackfruit
#Create a clearance_price column in produce which includes prices reduced from the original prices by 50%. Then set two_clearance equal the entire row at index 3.

import pandas as pd

prices = pd.Series([1,1,2,3,5],
              index=['apple', 'pear', 'banana', 'mango', 'jackfruit'])

inventory = pd.Series([10, 50, 41, 22],
              index=['pear', 'banana', 'mango', 'apple'])

discount_prices = prices.apply(lambda x: .9*x if x>3 else x)

produce = pd.DataFrame({'price':prices,
                        'discount_price':discount_prices,
                        'inventory':inventory})

one_select = produce.loc[['pear','jackfruit'],:]

produce['clearance_price']= produce.loc[:,'price']*0.5

#print(produce)

two_clearance = produce.iloc[[2],:]